body {
    text-align: center;
}

#canvas {
    border: 1px solid black;
}

#scoreboard {
    border: 3px solid #ddd;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

#scoreboard-name-1 {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    
}

#scoreboard-name-2 {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    border-left: 2px solid #ddd;
    
}

#scoreboard-score-1 {
    
}

#scoreboard-score-2 {
    border-left: 2px solid #ddd;
}