.title-obj {

}

.scoreboard{
    border: 1px solid #ddd;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

.scoreboard-name-1 {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.scoreboard-name-2 {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    text-align: center;
}

.scoreboard-score-1 {
    text-align: center;
}

.scoreboard-score-2 {
    text-align: center;
    border-left: 1px solid #ddd;
}